<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="row">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					My Stats ({{Me.Name}})
				</div>
				<div class="list-group list-group-flush my-quotes" style="margin-left: 2em">
					<div>
						<form novalidate="">
							<p>Workout Inputs</p>
							<div class="form-group">
								<label for="gender">Gender:</label> <input name="gender" required="">
							</div>
							<div class="form-group">
								<label for="age">Age:</label> <input name="age" required="">
							</div>
							<div class="form-group">
								<label for="height">Height:</label> <input name="height" required="">
							</div>
							<div class="form-group">
								<label for="weight">Weight:</label> <input name="weight" required="">
							</div>
							<div class="form-group">
								<label for="activities">Favorite Activities:</label> <input name="activities" required="">
							</div>
							<p></p><button>Save</button>
						</form>
					</div>
					<p>Gender: {{ gender.value }}</p>
					<p>Age: {{ age.value }}</p>
					<p>Height: {{ height.value }}</p>
					<p>Weight: {{ weight.value }}</p>
					<p>Favorite Activities: {{ activities.value }}</p>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="card mb-3">
				<div class="card-header text-black">
					My Workouts
				</div><!--<ul class="list-group list-group-flush ">
                    <ul>{{model.id}}</ul>
                    <ul>{{model.date}}</ul>
                    <ul>{{model.exercise}}</ul>
                    <ul>{{model.duration}}</ul>
                    <ul>{{model.notes}}</ul>
                </ul>-->
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">
					Other Users
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><img class="rounded" style="height: 16px; width: 16px"> {{player.Name}}</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>