<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	lightgrey=#e0e0e0 lightblue=#e0e0ff ...
	<table border="0" width="100%">
		<tr valign="top">
			<td width="50%">
				<table border="1" cellpadding="2" cellspacing="0" width="100%">
					<tr>
						<td bgcolor="$lightgrey"><b>3. Anamnese</b></td>
					</tr>
					<tr>
						<td>
							Symptomes:<br>
							<br>
							<br>
							<br>
							Conditions socioeconomiques:
							<table>
								<tr>
									<td><br>
									<br>
									<br></td>
									<td><br>
									<br></td>
								</tr>
							</table><br>
							<b>Examen Clinique:</b><br>
							<table width="100%">
								<tr valign="top">
									<td width="50%">C<br>
									/min<br>
									kg<br>
									kg/m2<br></td>
									<td width="50%">/min<br>
									<br>
									cm</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<td width="50%">
				<table border="1" cellpadding="2" cellspacing="0" width="100%">
					<tr>
						<td bgcolor="$lightgrey"><b>4. Anamnese systematique et depistage TBC:</b></td>
					</tr>
					<tr>
						<td>
							<table width="100%">
								<tr>
									<td><b>Toux:</b> </td>
									<td colspan="2">duree: semaines mois</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td></td>
								</tr>
								<tr>
									<td></td>
									<td colspan="2"></td>
								</tr>
								<tr>
									<td align="right"><b>Sueurs nocturnes</b></td>
									<td colspan="2"></td>
								</tr>
								<tr valign="top">
									<td align="right"><b>Fievre</b></td>
									<td colspan="2"><br>
									duree: jours semaines mois </td>
								</tr>
								<tr>
									<td align="right"><b>Perte de poids</b></td>
									<td colspan="2"></td>
								</tr>
								<tr>
									<td align="right"><b>Contact TBC+:</b></td>
									<td colspan="2"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td><b>Resultat du depistage TBC</b> <br>
						<br></td>
					</tr>
					<tr>
						<td bgcolor="$lightgrey"><b>5. La sante sexuelle</b></td>
					</tr>
					<tr>
						<td>
							<table border="0">
								<tr>
									<td align="right">Sexuellement actif:</td>
									<td></td>
								</tr>
								<tr>
									<td align="right">Dernieres regles</td>
									<td></td>
								</tr>
								<tr>
									<td align="right">Planification familiale</td>
									<td></td>
								</tr>
								<tr>
									<td align="right">Methode</td>
									<td><br>
									<br></td>
								</tr>
								<tr>
									<td align="right">Enceinte</td>
									<td></td>
								</tr>
								<tr>
									<td align="right">Symptomes d'IST</td>
									<td></td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>...
</body>
</html>